[Unit]
Description=Power Management
Wants=network-online.target
After=network-online.target

[Service]
User=pi
Group=pi
ExecStart=/home/pi/go/bin/mirrorPowerMgr --mirrorURL http://mirror.local:8080/api/display/powerStatus --listen ":9080" --cecName RPI
WorkingDirectory=/home/pi/go/src/github.com/donniet/mirrorPowerMgr
Restart=always
RestartSec=10
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target